<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <img class="logo" src="assets/logo.png" alt="logo" />
      <div class="content">
        <h1 class="heading">Heading</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
          esse sint reiciendis pariatur dolor rerum et facilis, voluptas
          aspernatur delectus amet. Delectus, ipsa voluptas? Suscipit provident
          laborum ipsam delectus maiores?
        </p>
        <a class="redir-btn" href="">redirect</a>
      </div>
      <img class="mascot" src="https://cdn.dribbble.com/users/2738/screenshots/10545367/media/d7373710bdac545c86ff0e80712469e4.png" alt="mascot" />
      <hr />
      <footer>
        <ul>
            <li><i class="bi bi-geo-alt"></i>NMAM Institute of Technology</li>
            <li><i class="bi bi-telephone"></i>+91 9999999999</li>
            <li><i class="bi bi-envelope"></i>example@nmamit.in</li>
        </ul>
        <div class="icons">
            <a href="http://"><i class="bi-brands bi-instagram icon"></i></a>
            <a href="http://"><i class="bi-brands bi-instagram icon"></i></a>
            <a href="http://"><i class="bi-brands bi-instagram icon"></i></a>
            <a href="http://"><i class="bi-brands bi-instagram icon"></i></a>
        </div>
      </footer>
    </div>
  </body>
</html>
